@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --bgColor: #EDF6F9;
  --fgColor: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bgColor);
  color: var(--fgColor);
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--fgColor);
}

header a {
  border-bottom: none;
}

footer {
  @apply py-28;
}

label {
  @apply block mb-2 font-heading text-col1;
}

input[type=text], input[type=email], input[type=password] {
  background-color: var(--bgColor);
  color: var(--fgColor);
  border: 1px solid var(--fgColor);
  @apply rounded-md px-4 py-2;
}

@screen sm {
  .gradient_block_1, .gradient_block_2 {
    height: 900px;
  }
}

@layer components {
  .first_block {
    @apply bg-gradient-to-b from-col3 to-col4 h-screen;
  }

  .gradient_block_1 {
    @apply bg-gradient-to-b from-col3 to-col4 h-screen max-h-full;
  }
  
  .gradient_block_2 {
    @apply bg-gradient-to-b from-col4 to-col3 h-screen max-h-full;
  }

  .footer_link_column {
    & > p {
      @apply text-coolGray-400 font-bold mb-8;
    }
    li {
      @apply mb-2;
    }
  }

  .inline-svg {
    svg {
      display: inline-block;
      width: 1em;
      height: 1em;
      fill: currentColor;
    }
  }

  .btn {
    border-bottom: none;
    @apply text-lg px-6 py-2 bg-col5 text-col3 font-body font-bold rounded-xl;
  }

  .box_info {
    border-bottom: none;
    @apply text-xl px-6 py-4 bg-col2 text-white font-body rounded-xl;
  }

  .box_error {
    border-bottom: none;
    @apply text-xl px-6 py-4 bg-red-400 text-white font-body font-bold rounded-xl;
  }
}